.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 50px;
  border-top: 1px solid rgb(227, 227, 227, 0.9);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #1c2025;
}
